html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #121214;
}

.container{
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
}

.title{
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
}

.header{
  position: absolute;
  z-index: 1;
  background: linear-gradient(0deg, rgba(39, 39, 41, 0.6), rgba(39, 39, 41, 0.6));
  width: 100%;
  /* height: 100vh; */
}

.header::before{
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(39, 39, 41, 0.01), rgba(10, 10, 9, 0.9));
  height: 15%;
}

.header__inner{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header__top{
  margin-bottom: auto;
  position: relative;
}

.header__top-inner{
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 1300px;
  z-index: 5;
  /* left: 0; */
  /* right: 0; */
  /* background: linear-gradient(0deg, rgba(39, 39, 41, 0.1), rgba(39, 39, 41, 0.1)); */
  /* background: linear-gradient(0deg, rgba(39, 39, 41, 0.01), rgba(10, 10, 9, 0.6)); */
  /* padding: 0 70px; */
}

/* .header__top-inner::before{
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
} */

.logo{
  padding-top: 30px;
}

.menu {
  padding-top: 40px;
}

.menu__btn {
  display: none;
}

.menu__list{
  display: flex;
  align-items: center;
  gap: 52px;
}

.menu__item{
  line-height: 104.7%;
  text-transform: uppercase;
  color: #fff;
}

.menu__link:hover{
  border-bottom: 2px solid #037E8C;
}

.menu__item--active{
  color: #037E8C;
}

.menu__item-phone{
  font-size: 20px;
  line-height: 104.7%;
  letter-spacing: 0.02em;
  color: #fff;
  position: relative;
}

.menu__item-phone::before{
  content: url(../images/icon/header-phone.svg);
  position: absolute;
  width: 17px;
  height: 17px;
  top: 5px;
  left: -30px;
}

.header__info-btn{
  position: absolute;
  right: 0;
  top: 80px;
  line-height: 104.7%;
  letter-spacing: 0.02em;
  color: #fff;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 9px;
  padding: 12px 19px 13px 20px;
  border: none;
  cursor: pointer;
  /* margin: 0 116px; */
}

.header__title{
  font-weight: 800;
  font-size: 70px;
  line-height: 125.5%;
  letter-spacing: 0.045em;
  color: #fff;
  max-width: 595px;
}

.header__text{
  font-weight: 500;
  font-size: 24px;
  line-height: 108.7%;
  color: #fff;
  margin-bottom: 82px;
}

.header__btn{
  display: inline-block;
  font-size: 16px;
  line-height: 108.7%;
  color: #fff;
  padding: 19px 75px 19px 23px;
  background: #037E8C;
  border-radius: 9px;
  position: relative;
  margin-bottom: auto;
  width: 274px;
}

.header__btn::after{
  content: url(../images/icon/arrow-right.svg);
  position: absolute;
  width: 31px;
  height: 31px;
  top: 12px;
  right: 12px;
}

.slider__header-item{
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.slider__header .slick-dots{
  list-style: none;
  position: absolute;
  left: 83%;
  right: 0%;
  top: 50%;
  bottom: 50%;
  z-index: 3;
}

.slider__header .slick-dots button{
  font-size: 0;
  border: none;
  margin: 8px 0;
  width: 8px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
}

.slider__header .slick-active button{
  background: #037E8C
}

.benefits{
  padding: 47px 0 53px;
}

.benefits__items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.benefits__item{
  max-width: 302px;
}
.benefits__img{
  margin-bottom: 20px;
}

.benefits__title{
  font-size: 18px;
  line-height: 108.7%;
  margin-bottom: 25px;
}

.benefits__text{
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
}

.routes{
  background-image: url(../images/routes/routes-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px 0 0;
}

.routes__title{
  margin-bottom: 61px;
}

.routes__box{
  display: flex;
  justify-content: space-between;
}

.routes__box-advanced{
  flex-direction: row-reverse;
}

.routes-base,
.routes-advanced,
.routes-experience{
  width: 635px;
  padding-left: 111px;
}

.routes-advanced{
  /* position: relative;
  left: 51%; */
  right: 0;
}

.routes-base__title,
.routes-advanced__title,
.routes-experience__title {
  /* font-weight: 600; */
  font-size: 36px;
  line-height: 108.7%;
  margin-bottom: 9px;
  position: relative;
}

.routes-base__title::before,
.routes-advanced__title::before,
.routes-experience__title::before{
  content: '';
  position: absolute;
  width: 81px;
  height: 4px;
  background-color: #037E8C;
  top: 50%;
  left: -111px;
  bottom: 50%;
}

.routes__price{
  font-weight: 700;
  font-size: 24px;
  line-height: 108.7%;
  margin-bottom: 32px;
}

.routes__item{
  display: flex;
  margin-bottom: 9px;
}

.routes__item-img{
  height: 17px;
  margin-right: 17px;
}

.routes__item-time,
.routes__item-distance,
.routes__item-difficulty{
  font-weight: 400;
  font-size: 16px;
  line-height: 108.7%;
  text-transform: uppercase;
  padding-right: 5px;
}

.routes__item-hours,
.routes__item-num,
.routes__item-stars{
  font-size: 16px;
  line-height: 108.7%;
}

.routes__marker-title {
  display: inline-block;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  padding-top: 18px;
  margin-bottom: 13px;
  position: relative;
}

.routes__marker-title::after{
  content: url(../images/routes/routes-marker.svg);
  position: absolute;
  width: 24px;
  height: 24px;
  top: 13px;
  right: -40px;
}

.routes__marker-text{
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 39px;
}

.routes-more__btn{
  display: inline-block;
  line-height: 130%;
  color: #037E8C;
  border: 1.5px solid #037E8C;
  border-radius: 9px;
  padding: 14px 44px 13px 45px;
  margin-right: 15px;
}

.routes-book__btn{
  display: inline-block;
  line-height: 130%;
  color: #fff;
  background: #037E8C;
  border-radius: 9px;
  padding: 14px 29px 13px;
  margin-bottom: 148px;
}

.slider__base,
.slider__experience{
  max-width: 50%;
  height: 360px;
  position: absolute;
  /* left: 50%; */
  right: 0;
}

.slider__excursion{
  max-width: 50%;
  height: 360px;
  right: 0;
}

.slider__advanced{
  max-width: 50%;
  height: 360px;
  position: absolute;
  left: 0;
}

.slider__base-item,
.slider__advanced-item,
.slider__experience-item,
.slider__excursion-item{
  margin: 25px;
  /* margin-left: 62px; */
}

.slider__advanced-item{
  margin: 25px;
}

.slider__base-img,
.slider__experience-img,
.slider__excursion-img{
  width: 250px;
  height: 300px;
  /* margin-left: -400px; */
  transition: all linear .5s;
  border-radius: 9px;
  margin: 0 -140%;
}

.slider__advanced-img{
  width: 250px;
  height: 300px;
  margin-left: 20%;
  transition: all linear .5s;
  border-radius: 9px;
}

.slick-center .slider__base-img,
.slick-center .slider__advanced-img,
.slick-center .slider__experience-img,
.slick-center .slider__excursion-img{
  transform: scale(1.1);
}

.slider__base .slick-dots,
.slider__advanced .slick-dots,
.slider__experience .slick-dots,
.slider__excursion .slick-dots{
  display: flex;
  justify-content: center;
  list-style: none;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  z-index: 3;
}

.slider__base .slick-dots button,
.slider__advanced .slick-dots button,
.slider__experience .slick-dots button,
.slider__excursion .slick-dots button{
  font-size: 0;
  border: none;
  margin: 0 8px;
  width: 8px;
  height: 12px;
  border-radius: 50%;
  background-color: #121214;
}

.slider__base .slick-active button,
.slider__advanced .slick-active button,
.slider__experience .slick-active button,
.slider__excursion .slick-active button{
  background: #037E8C
}

.route-selection{
  background-image: url(../images/routes/route-selection.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 81px 0 94px;
  text-align: center;
}

.route-selection__title{
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: #fff;
  margin-bottom: 19px;
}

.route-selection__text{
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
  margin-bottom: 43px;
}

.route-selection__btn{
  display: inline-block;
  line-height: 130%;
  color: #fff;
  background: #037E8C;
  border-radius: 9px;
  padding: 14px 43px 13px 44px;
  border: none;
  cursor: pointer;
}

.foto{
  padding: 70px 0 0px;
}

.foto__title{
  margin-bottom: 43px;
}

.slider__foto{
  /* max-width: 100%;
  display: flex; */
  margin-bottom: 120px;
  /* display: flex;
  justify-content: center;
  gap: 100px; */
}

/* .slider__foto-items{
  display: flex;
} */
.slider__foto-item{
  /* height: 415px; */
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 50px;
  max-width: 100%;
}

.slider__foto-img{
  max-width: 330px;
  height: 330px;
  transition: all linear .5s;
  border-radius: 9px;
  /* width: 100%; */
}

/* .slider__foto-img--active{
  transform: scale(1.25);
  max-width: 413px;
  height: 413px;
} */

.slick-center .slider__foto-img{
  transform: scale(1.1);
}



.slider__foto .slick-dots{
  display: flex;
  justify-content: center;
  list-style: none;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -60px;
  z-index: 3;
}

.slider__foto .slick-dots button{
  font-size: 0;
  border: none;
  margin: 0 8px;
  width: 8px;
  height: 12px;
  border-radius: 50%;
  background-color: #121214;
}

.slider__foto .slick-active button{
  background: #037E8C
}

.video{
  background-image: url(../images/photo/video-bg.jpg);
  padding: 82px 0;
}

.video__bg{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 10px;
}

.video__bg-img{
  /* width: 1078px;
  height: 430px; */
  border-radius: 22px;
  margin: 0 auto;
}

.video__name{
  position: absolute;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #fff;
  top: 30px;
  left: 32%;
  right: auto;
}

.video__bg::before{
  content: '';
  position: absolute;
  width: 1078px;
  height: 430px;
  border-radius: 22px;
  border: 7px solid #FFFFFF;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.video-link{
  background-image: url(../images/photo/video.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 84px;
  height: 84px;
}

.team{
  padding: 65px 75px;
  position: relative;
}

.team::before{
  content: url(../images/team/team-images1.svg);
  position: absolute;
  left: 0;
  bottom: -130px;
  z-index: -1;
}

.team::after{
  content: url(../images/team/team-images2.svg);

  position: absolute;
  top: -115px;
  right: 0;
  z-index: -1;
}

.team__title{
  margin-bottom: 50px;
}

.team__items{
  display: flex;
  gap: 28px;
}
.team__item{
  background: #f4f4f4;
  border-radius: 9px;
}

.team__item-img{
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.team__item-desc{
  padding: 24px 30px 26px;
}
.team__item-name{
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #037E8C;
}
.team__item-position{
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.services{
  background-image: url(../images/services/services-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px 75px;
}

.services__title{
  width: 500px;
  margin: 0 auto 50px;
  text-align: center;
}

.services__items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.services__item{
  min-height: 112px;
  padding: 15px 30px 0 65px;
  background: #fff;
  border-radius: 9px;
  position: relative;
}

.services__item::before{
  content: url(../images/services/services-icon.svg);
  position: absolute;
  width: 42px;
  height: 42px;
  top: 9px;
  left: 5px;
}

.services__item-text{
  font-weight: 400;
  line-height: 150%;
}

.services__item-text span{
  font-weight: 600;
}

.special-offers{
  padding: 75px 0;
  position: relative;
}

.special-offers::before{
  content: url(../images/offers/buggy.svg);
  position: absolute;
  top: -80px;
  left: 0;
  z-index: -1;
}

.special-offers::after{
  content: url(../images/offers/detail.svg);

  position: absolute;
  right: 0;
  bottom: -245px;
  z-index: -1;
}

.special-offers__title{
  margin-bottom: 55px;
}

.special-offers__inner{
  display: flex;
  gap: 30px;
}

.special-offers__box{
  display: flex;
  background: #F4F4F4;
  border-radius: 9px;
  position: relative;
}

.special-offers__box::after{
  content: '';
  position: absolute;
  background-image: url(../images/offers/offers-3.svg);
  width: 295px;
  height: 158px;
  right: 0;
  bottom: 0;
  border-bottom-right-radius: 9px;
}

.special-offers__item-img{
  border-radius: 9px;
}

.special-offers__discount{
  max-width: 334px;
  padding: 30px 0px 0 35px;
}

.special-offers__discount-title{
  font-weight: 800;
  font-size: 36px;
  line-height: 130%;
  color: #037E8C;
  width: 247px;
}

.special-offers__discount-title span{
  font-weight: 700;
  font-size: 24px;
}
.special-offers__discount-text{
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #373737;
}

.special-offers__discount-btn{
  line-height: 130%;
  color: #037E8C;
  padding: 14px 44px 13px 45px;
  display: inline-block;
  border: 1.5px solid #037E8C;
  border-radius: 9px;
  margin-top: 14px;
  position: relative;
  z-index: 3;
  cursor: pointer;
}

.gift-certificate{
  background-image: url(../images/offers/certificates-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0 90px;
}

.gift-certificates__title{
  margin-bottom: 15px;
}

.gift-certificates__text{
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #037E8C;
  margin-bottom: 45px;
  text-align: center;
}
.gift-certificates__items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gift-certificates__item-text{
  font-weight: 400;
  font-size: 18px;
  line-height: 172.5%;
  color: #151515;
  width: 524px;
  margin-bottom: 65px;
}

.gift-certificates__item-btn{
  display: inline-block;
  line-height: 130%;
  color: #037E8C;
  border: 1.5px solid #037E8C;
  border-radius: 9px;
  padding: 14px 22px 13px 23px;
}

.questions{
  padding: 71px 0 85px;
  position: relative;
}

.questions::before{
  content: url(../images/questions/questionsimage-1.svg);
  position: absolute;
  left: 0;
  bottom: -230px;
}

.questions::after{
  content: url(../images/questions/questionsimage-2.svg);
  position: absolute;
  top: -130px;
  right: 0;
  z-index: -1;
}

.questions__title{
  margin-bottom: 50px;
}

.questions__inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.questions__item{
  width: 539px;
  border: 0.5px solid #848484;
  padding: 16px 25px 19px 25px;
  border-radius: 2px;
  margin-bottom: 8px;
}

.questions__item--active{
  border: 0.5px solid #037E8C;
  border-radius: 2px;  
}

.questions__item-title{
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  position: relative;
}

.questions__item-title::after{
  content: url(../images/questions/arrows-questions.svg);
  position: absolute;
  width: 12px;
  height: 22px;
  top: 0;
  right: 0;
}

.questions__item.questions__item--active .questions__item-title::after{
  content: url(../images/questions/arrows-top.svg);
  transform: rotate(-90deg);
}

.questions__item.questions__item--active .questions__item-text{
  display: block;
}

.questions__item-text{
  font-weight: 400;
  line-height: 21px;
  padding-top: 24px;
  display: none;
}

.questions__box{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 378px;
  margin-left: 159px;
}

.questions__box-img{
  padding: 12px 0 26px;
}

.questions__box-title{
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 14px;
}

.questions__box-text{
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 31px;
}

.questions__box-btn{
  line-height: 130%;
  color: #fff;
  background: #037E8C;
  border-radius: 9px;
  padding: 13px 33px 14px 33px;
}

.additional-services{
  padding: 0 0 110px;
}

.additional-services__title{
  margin-bottom: 55px;
}

.additional-services__items{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.additional-services__item{
  background: #f4f4f4;
  border-radius: 9px;
}

.additional-services__img{
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  width: 100%;
}

.additional-services__text{
  font-size: 18px;
  line-height: 130%;
  color: #037E8C;
  padding: 22px 90px 26px 24px;
}

.contacts{
  position: relative;
}

.contacts__inner{
  width: 621px;
}

.contacts__title{
  text-align: left;
  border-top: 3px solid #037E8C;
  width: 635px;
  margin-bottom: 64px;
}


.contacts__items{
  columns: 2;
  gap: 60px;
}

.contacts__item{
  display: flex;
  align-items: flex-start;
}

.contacts__item-img{
  margin-right: 16px;
  margin: 0 16px 37px 0;
}

.contacts__item-text,
.contacts__item-phone,
.contacts__item-email{
  font-weight: 400;
  font-size: 18px;
  line-height: 151.19%;
}

.contacts__social{
  margin-bottom: 164px;
}

.contacts__social-title{
  font-size: 24px;
  line-height: 151.19%;
  padding-top: 16px;
  margin-bottom: 16px;
}

.contacts__social-list{
  display: flex;
  gap: 21px;
}

.map{
  position: absolute;
  top: 0;
  right: 0;
  width: 49%;
}

.footer__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #121214;
  border-bottom: 1px solid #121214;
}

.footer__logo{
  padding: 20px 0 20px 113px;
}

.footer__menu-list{
  display: flex;
  gap: 64px;
}

.footer__item{
  line-height: 104.7%;
  text-transform: uppercase;
}

.footer__copy{
  text-align: center;
  padding: 21px 0 24px;
}





.wrapper{

  /* padding: 0px 70px; */
  /* margin: 0 70px; */
  /* width: 1440px; */
  /* background: rgba(18, 18, 20, 0.8); */
  /* margin-bottom: 63px; */
  /* width: 100%;
  height: 100vh;
  overflow-y: auto; */
}

.header__excursion-inner{
  display: flex;
  justify-content: flex-end;
  padding: 45px 0 46px;
}
.excursion__inner{
  /* background-color: #fff; */
  /* border-radius: 9px; */
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  padding: 35px 0 1px 112px;
}

.excursion__box{
  display: flex;
  justify-content: space-between;
}

.excursion__btn{
  display: inline-block;
  line-height: 130%;
  color: #037E8C;
  border: 1.5px solid #037E8C;
  border-radius: 9px;
  padding: 13px 24px 14px 25px;
  /* margin-right: 15px; */
  margin-bottom: 69px;
}

.excursion__route__title {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 27px;
}

.excursion__route__text p{
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 40px;
  padding-right: 110px;
}

.tour-price {
}
.container {
}

.tour-price__inner {
  background-color: #fff;
  padding: 0 0 74px 112px;
}

.tour-price__title {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 45px;
}
.tour-price__items {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  row-gap: 24px;
  column-gap: 28px;
  padding-right: 221px;
  /* margin-bottom: 74px; */
  text-align: center;
}
.tour-price__item {
  background: #F4F4F4;
  border-radius: 9px;
  position: relative;
}
.tour-price__link {
  position: absolute;
  top: 0;
  left: 0;
  /* position: relative; */
}
/* .tour-price__link::before {
  content: url(../images/icon/tour-price.svg);
  background-position: left;
  position: absolute;
  top: 0;
  left: 0;
} */
.tour-price__img {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.tour-price__text {
  font-weight: 400;
  line-height: 130%;
  padding: 10px 54px 3px 50px;
}

.tour-price__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #037E8C;
  padding: 0 0 9px;
}

.excursion__booking{
  background-image: url(../images/tour-price/footer-excursion.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 516px;
  /* position: relative; */
}

/* .excursion__booking::before{
  content: url(../images/tour-price/footer-excursion.svg);
  background-position: center;
  position: absolute;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
} */







@media (max-width: 1320px){
  .header__top-inner{
    padding: 0;
  }
  /* .header__info-btn{
    margin: 0 50px;
  } */
}

@media (max-width: 1300px){
  .header__top-inner{
    width: auto;
    left: 0;
    right: 0;
    margin: 0 20px;
  }
  .slider__base,
  .slider__experience{
    max-width: 50%;
    height: 360px;
    position: inherit;
  }
  .routes-advanced {
    position: inherit;
  }
  .slider__base .slick-dots,
  .slider__advanced .slick-dots,
  .slider__experience .slick-dots {
    position: inherit;
  }
  .team {
    padding: 65px 0px;
  }
  .special-offers__inner{
    flex-wrap: wrap;
    justify-content: center;
  }
  .services {
    padding: 60px 0px;
  }
  .additional-services__items {
    grid-template-columns: repeat(3, 1fr);
  }
  .contacts__social{
    margin-bottom: 65px;
  }
  .map{
    width: 100%;
    position: inherit;
    margin-bottom: 65px;
  }
}

@media (max-width: 1200px){
  .team__items{
    flex-wrap: wrap;
    justify-content: center;
  }
  .gift-certificates__items{
    justify-content: center;
  }
  .gift-certificates__item-btn{
    margin-bottom: 50px;
  }
  .footer__menu{
    display: none;
  }
  .footer__logo{
    margin: 0 auto;
    padding: 12px 0;
  }
}

@media (max-width: 1140px){
  .menu{
    display: none;
  }
  /* .header__info-btn{
    display: none;
  } */


  .menu{
    display: flex;
    /* order: 1; */
  }
  
  .menu__btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 50;
    right: 30px;
  }
  .menu__btn-line {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 2px;
    transition: .3s ease;
  }
  .menu__btn-line:nth-child(1) {
    top: 0;
  }
  .menu__btn-line:nth-child(2) {
    top: 10px;
  }
  .menu__btn-line:nth-child(3) {
    top: 10px;
  }
  .menu__btn-line:nth-child(4) {
    top: 20px;
  }
  /* .menu__btn .menu__btn-line--active:nth-child(1) {
    transform: scaleX(0);
  }
  .menu__btn .menu__btn-line--active:nth-child(2) {
    transform: rotate(45deg);
  }
  .menu__btn .menu__btn-line--active:nth-child(3) {
    transform: rotate(-45deg);
  }
  .menu__btn .menu__btn-line--active:nth-child(4) {
    transform: scaleX(0);
  } */

  .menu__list{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 50%;
    background: #000;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform .5s;
    overflow: auto;
    text-align: center;
  }
  .menu__list--active{
    transform: translateX(0);
  }

  /* .header__top-inner.header__top-inner--active .menu__list {
    transform: translateY(0%);
  } */

  .header__info-btn{
    position: inherit;
    right: 50px;
  }



  .slider__base, .slider__experience{
    width: 235px;
    margin-left: 50px;
  }
  .slider__header .slick-dots {
    left: 95%;
  }
  .slider__foto{
    margin-bottom: 65px;
  }
  .slider__foto-item{
    flex-direction: column;
  }
  .slider__foto .slick-dots{
    bottom: -20px;
  }
  .video__bg::before {
    width: 100%;
    height: 100%;
  }
  .video__name {
    top: 15px;
    left: 5%;
  }
  .services__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1000px){
  .routes__box{
    margin-bottom: 50px;
  }
  .routes-more__btn,
  .routes-book__btn {
    display: block;
    margin: 0 0 15px 0;
    text-align: center;
  }

  .slider__base-img,
  .slider__advanced-img,
  .slider__experience-img{
    height: 240px;
  }
  .routes-base__title::before,
  .routes-advanced__title::before,
  .routes-experience__title::before {
    display: none;
  }
  .slider__advanced{
    position: inherit;
  }
  .slider__advanced .slick-dots{
    position: inherit;
    left: 0;
    right: 0;
  }
}

@media (max-width: 960px){
  .questions__box{
    margin-left: 0;
  }
  .additional-services__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px){
  .header__title{
    font-size: 60px;
  }
  .header__text {
    font-size: 19px;
  }
  .contacts__title{
    width: 100%;
  }
  .contacts__inner{
    width: 100%;
  }
  .contacts__items {
    columns: 1;
  }
}

@media (max-width: 640px){
  .benefits__items {
    display: block;
    margin-left: 10px;
  }
  .routes__title {
    margin-bottom: 20px;
  }
  .routes-base,
  .routes-advanced,
  .routes-experience {
    width: 100%;
    padding-left: 20px;
  }

  .team::before {
    display: none;
  }
  .special-offers::before{
    display: none;
  }
  .special-offers__item-img {
    display: none;
  }
  .special-offers__box::after{
    display: none;
  }
  .special-offers__discount {
    padding: 10px 0px 0 25px;
    height: 210px;
  }
  .additional-services__items {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width:600px){
  .routes__box {
    flex-direction: column;
  }
  .slider__base,
  .slider__advanced,
  .slider__experience{
    max-width: 100%;
    margin: 0 auto;
  }
  .slider__base-img,
  .slider__advanced-img,
  .slider__experience-img{
    max-width: 225px;
  }
}

@media (max-width: 560px){
  .header__title{
    font-size: 32px;
  }
  .header__text {
    font-size: 16px;
  }
  .video__name {
    display: none;
  }
  .title {
    width: 100%;
    font-size: 24px;
  }
  /* .services__title {
    font-size: 30px;
  } */
  .services__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .gift-certificates__item-text{
    width: 100%;
  }
  .questions::before{
    display: none;
  }
  .questions::after{
    display: none;
  }
  .questions__item{
    width: 100%;
  }
  .questions__item-title{
    width: 235px;
  }
  .questions__item-text{
    width: 200px;
  }
}

@media (max-width: 450px){
  .header__info-btn{
    top: 100px;
  }
  .routes-base__title,
  .routes-advanced__title,
  .routes-experience__title {
    font-size: 28px;
  }
  .route-selection__title {
    font-size: 24px;
  }
  .route-selection__text {
    font-size: 16px;
  }
  .contacts__item-text, .contacts__item-phone, .contacts__item-email {
    font-size: 14px;
  }
}

@media (max-width: 350px){
  .slider__foto-img{
    max-width: 215px;
    height: 230px;
  }
}





